<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiearkisto</title>
        <meta charset="iso-8859-1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"/> 
        <style>
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

li a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover.menu {
    background-color: #111;
}
        </style>
    </head>

    <body>
        <div class="container">
        <ul class="menu">
            <li class="menu"><a class="menu" href="/smoothiearkisto">Kotisivu</a></li>
            <li class="menu"><a class="menu" href="/smoothienluominen">Luo smoothie</a></li>
            <li class="menu"><a class="menu" href="/raaka-aineet">Raaka-aineet</a></li>
        </ul>
            
        <div class="page-header">
        <h1>Luo smoothie</h1>
        </div>
        <p> Tällä sivulla voit luoda uusia smoothiereseptejä sekä lisätä jo olemassaoleviin smoothieresepteihin uusia raaka-aineita. </p>
        
        <ul class="list-group">
            <li class="list-group-item" th:each="smoothie: ${smoothiet}">
               <a th:href="|/smoothiet/${smoothie.nimi}|" th:text="${smoothie.nimi}"></a>
               <!-- <span th:text="${smoothie.nimi}"></span> -->
            </li>
        </ul><br/>
        
        
        
        <h4> Lisää uusi smoothie: </h4>
        <form method="POST" action="/smoothienluominen">
            <!-- <span>Anna smoothien nimi:</span><br/> -->
            <input type="text" name="smoothienNimi" class="form-control" placeholder="Smoothien nimi" th:required="required"/>
            <br/>
           
            <input type="submit" class="btn btn-default" value="Tallenna"/>
            <br/>
        </form>
        <br/>
        
        
        <h4> Lisää raaka-aineita: </h4>
        <div class="jumbotron">
        <form method="POST" action="/smoothienmuokkaus">
            <span>Valitse muokattava smoothie:</span>
            <select th:name="valittusmoothie" class="form-control">
                <option th:each="smoothie : ${smoothiet}" th:text="${smoothie.nimi}">
                    varalta
                </option>
            </select>
            <br/>
            <span>Valitse lisättävä raaka-aine:</span>
            <select th:name="valitturaaka-aine" class="form-control">
                <option th:each="raakaaine : ${raakaaineet}" th:text="${raakaaine}">
                    varalta
                </option>
            </select>
            <br/>
            <span>Anna lisättävän raaka-aineen määrä:</span>
            <br/>
            <input type="text" name="maara" class="form-control" th:required="required"/>
            <br/>
            <span>Kirjoita lisäohje raaka-aineelle:</span>
            <br/>
            <input type="text" name="ohje" class="form-control"/>
            <br/>
            <input type="submit" class="btn btn-default" value="Tallenna"/>
        </form>
        
        </div>
        <br/>
        </div>
       
    </body>
</html>
