<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiearkisto</title>
        <meta charset="iso-8859-1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"/> 
        <style>
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

li a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover.menu {
    background-color: #111;
}
</style>
    </head>
   
    <body>
        <div class="container">
        <ul class="menu">
            <li class="menu"><a class="menu" href="/smoothiearkisto">Kotisivu</a></li>
            <li class="menu"><a class="menu" href="/smoothienluominen">Luo smoothie</a></li>
            <li class="menu"><a class="menu" href="/raaka-aineet">Raaka-aineet</a></li>
        </ul>
        
        <div class="page-header">
        <h1>Smoothiearkisto</h1>
        </div>
        <h4> Tervetuloa Smoothiearkistoon!</h4>
        <p> Taalla näet listan smoothieistamme. Smoothiereseptiin pääset klikkaamalla smoothien nimeä. Uuden smoothien luominen onnistuu Luo smoothie -välilehdellä. Uusien raaka-aineiden lisääminen onnistuu Raaka-aineet -välilehdellä.</p>

        <ul class="list-group">
            <li class="list-group-item" th:each="smoothie: ${smoothiet}">
              <a th:href="|/smoothiet/${smoothie.nimi}|" th:text="${smoothie.nimi}"> hei </a> 
            </li>
        </ul>
        
        
        
        
    </div>
    </body>
</html>
